<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>default-oracle-maven</id>
      <repositories>
        <!-- Oracle Maven repo for Oracle JDBC drivers -->
        <repository>
          <id>maven.oracle.com</id>
          <name>oracle-maven-repo</name>
          <url>https://maven.oracle.com</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
        </repository>
      </repositories>
      <properties>
        <oracle.name>username@example.com</oracle.name>
        <oracle.pwd>0000</oracle.pwd>
      </properties>
    </profile>
  </profiles>
  <servers>
    <server>
      <id>maven.oracle.com</id>
      <username>${oracle.name}</username>
      <password>${oracle.pwd}</password>
      <configuration>
        <basicAuthScope>
        <host>ANY</host>
        <port>ANY</port>
        <realm>OAM 11g</realm>
      </basicAuthScope>
        <httpConfiguration>
          <all>
            <params>
              <property>
                <name>http.protocol.allow-circular-redirects</name>
                <value>%b,true</value>
              </property>
            </params>
          </all>
        </httpConfiguration>
      </configuration>
    </server>
  </servers>
</settings>
